include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE
include pyproject.toml
include .gitignore
include docs/DOCSY-JEKYLL-LICENSE
include docs/DOCSY-JEKYLL-COPYRIGHT
recursive-include scripts *.py *.sh
recursive-include tests *.py
recursive-include examples *.py
recursive-include docs *.md *.yml *.html *.css *.js *.png *.ico *.xml *.json *.svg *.eot *.ttf *.woff *.woff2
prune handoff
prune build
prune dist
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude .DS_Store
